@font-face {
    font-family: utm-bebas;
    src: url(assets/fonts/utm-bebas.ttf);
}
body
{
    font-family: arial;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

h1 {
    font-size: 1.5em;
    font-family: utm-bebas;
}

p {
    font-size: 0.8em;
}

button {
    color: #333333 !important;
    background: linear-gradient( 
            to right, #e2bc62, #db6d34) !important; 
            border: none !important;
}

button:active {
    border: none !important;
}

button:focus {
    border: none !important;
    box-shadow: none;
}

button:disabled {
    background: linear-gradient( 
            to right, lightgrey, grey) !important; 
            border: none !important;
}