@font-face {
    font-family: utm-bebas;
    src: url(assets/fonts/utm-bebas.ttf);
}
body
{
    font-family: arial;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

h1 {
    font-size: 1.5em;
    font-family: utm-bebas;
}

p {
    font-size: 0.8em;
}
